@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Lilita+One&family=Lusitana:wght@400;700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  outline: solid #d2367a00 2px;
  transition: outline 0.2s ease-out;
}
*:focus-visible {
  outline: solid var(--primary-color) 2px;
  border-radius: 5px;
}
.title {
  font-family: "Lilita One", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--secondary-color);
}
.goofy {
  font-family: "Lilita One", serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --background-color: #ffe5e5;
  --primary-color: #d2367a;
  --secondary-color: #36206d;
  --color-white: white;

  --small-font-size: clamp(0.8rem, 1.2vw, 1rem);
  --medium-font-size: clamp(1rem, 1.5vw, 1.2rem);
  --big-font-size: clamp(1.2rem, 1.8vw, 1.6rem);
  --title-font-size: clamp(1.2rem, 2vw, 1.8rem);

  --padding-inline-btn: clamp(5px, 2vw, 15px);
  --padding-block-btn: clamp(5px, 1vw, 10px);
}
html {
  background-color: var(--background-color);
}

.button {
  text-decoration: none;
  background-color: var(--primary-color);
  padding: 8px 15px;
  padding: var(--padding-block-btn) var(--padding-inline-btn);
  border-radius: 50px;
  border: none;
  color: white;
  font-size: var(--medium-font-size);
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}
.button:hover {
  background-color: #36206d;
}
.add-button {
  margin-inline: auto;
}
.delete-button.link {
  color: red;
}
.nav-link,
.link {
  text-decoration: none;
  background-color: unset;
  border: none;
  color: var(--secondary-color);
  font-size: var(--medium-font-size);
  font-weight: 700;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s ease-out;
  @starting-style {
    opacity: 0;
  }
}
main {
  padding-block-start: 120px;
  padding-inline: 15vw;
}

/* NAVBAR */
/* NAVBAR */

.navbar {
  background-color: var(--background-color);
  z-index: 100;
  display: flex;
  justify-content: space-between;
  position: fixed;
  height: 100px;
  width: 100vw;
  padding-inline: 10vw;
  padding-block: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 10, 0.1);
}
.navbar img {
  height: 100%;
}
nav {
  padding-block: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}
/* DECKLIST */
/* DECKLIST */

.home-deck-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* DECKS */
/* DECKS */

.deck-card {
  /* border: solid var(--secondary-color) 5px; */
  background-color: var(--color-white);
  padding: 10px 20px;
  border-radius: 15px;
  margin-block: 10px;
  box-shadow: inset 0 0 5px #d2367a60;
}
.deck-card .deck,
.deck-card form {
  background-color: var(--background-color);
}
.deck-card input {
  background-color: var(--color-white);

  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}
.deck {
  position: relative;
  background-color: var(--color-white);
  margin-block: 20px;
  padding: 20px 30px;
  border-radius: 10px;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.1));
  width: 48%;
}
.deck-list .deck {
  width: 100%;
}
.deck > * {
  margin-block: 5px;
}
.deck h3 {
  font-size: var(--big-font-size);
  font-weight: 900;
  color: var(--primary-color);
}
.deck span {
  /* color: var(--secondary-color); */
  font-weight: 700;
}
.stats {
  position: absolute;
  display: flex;
  justify-content: space-between;
  right: 10px;
  top: 10px;
}
.nb-likes {
  font-size: var(--big-font-size);
  color: #ff0000;
  font-weight: 900;
}
.like {
  height: var(--big-font-size);
}
.nb-carte {
  background-color: #36206d;
  margin-inline: 20px;
  color: white;
  padding: 20px 5px;
  border-radius: 15px;
  width: 60px;
  position: relative;
  border: solid var(--color-white) 2px;
}
.nb-carte::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 8px;
  left: 50%; /* Positionne le milieu à 50% */
  transform: translateX(-40%); /* Centre l'élément */
  border-radius: 15px;
  background-color: var(--secondary-color);
  z-index: -1;
  border: solid var(--color-white) 2px;
}
.nb-carte::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 16px;
  left: 50%; /* Positionne le milieu à 50% */
  transform: translateX(-30%); /* Centre l'élément */
  border-radius: 15px;
  background-color: var(--secondary-color);
  z-index: -1;
  border: solid var(--color-white) 2px;
}
.nb-carte p {
  font-weight: 700;
  font-size: var(--small-font-size);
}

/* CARTE */
/* CARTE */

.carte {
  margin-bottom: 5px;
  width: 90%;
  margin-inline: auto;
}

/* FORM  */
/* FORM  */

form {
  background-color: var(--color-white);
  border-radius: 15px;
  padding: 20px 5vw;
  max-width: 700px;
  font-size: var(--medium-font-size);
  margin-inline: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.form-input,
.input-group {
  margin-block: 20px;
}
form input {
  border: none;
  margin-block-start: 5px;
  padding: 10px 20px;
  background-color: var(--background-color);
  width: 100%;
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  outline: solid #d2367a00 2px;
  transition: outline 0.2s ease-out, box-shadow 0.2s ease-out,
    color 0.2s ease-out;
}
form input[type="number"] {
  width: 60px;
  padding-inline: 5px;
}
form input:disabled {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0);
  cursor: text;
}
form input:focus-visible {
  outline: solid var(--primary-color) 2px;
}
form label {
  margin-bottom: 5px;
}
form h1 {
  font-weight: 800;
  margin-bottom: 30px;
  color: var(--secondary-color);
  font-size: var(--title-font-size);
}

select {
  border: none;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 15px;
  padding: 5px 10px;
  margin-top: 5px;
  margin-left: 5px;
}
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
form .button-container {
  margin-top: 50px;
}
.choices {
  display: flex;
  justify-content: space-between;
}
.choice {
  width: 40%;
}
.choice > p {
  text-align: center;
  font-size: var(--medium-font-size);
  font-weight: 600;
  position: relative;
}
.choice > p::after {
  position: absolute;
  content: "";
  width: 80%;
  height: 3px;
  top: 120%;
  left: 50%; /* Positionne le milieu à 50% */
  transform: translateX(-50%); /* Centre l'élément */
  border-radius: 3px;
  background-color: var(--primary-color);
}
.choice > div:last-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: var(--small-font-size);
}
.choice > div:last-child .form-input {
  margin-inline: 2px;
}
form > p:last-of-type,
.no-account {
  font-size: var(--small-font-size);
  text-align: center;
}

/* MEDIA QUERIES */
/* MEDIA QUERIES */

@media only screen and (max-width: 1000px) {
  .deck {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  main {
    padding-inline: 5vw;
  }
  .navbar {
    justify-content: center;
    /* box-shadow: 0 0 5px rgba(0, 0, 10, 0.1); */
  }
  nav {
    display: none;
  }
}
